
#header {
	position:relative;
}

h1#logo {
	position:absolute;
	top:37px;
	left:0;
}

h1#logo a {
	float:left;
	width:239px;
	height:49px;
	background:url('../../assets/images/logo.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

#navigation {
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom:47px;
}

#navigation ul {
	list-style:none;
}

#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
}

#navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}

#navigation ul li a.active, #navigation ul li a:hover {
	color:#d91d2a;
}

#sub-navigation {
	display:block;
	clear:right;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	padding:8px 0;
}

#sub-navigation ul {
	list-style:none;
}

#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:23px;
}

#sub-navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
}
#search {
	width:346px;
	margin:0 0 0 auto;
}
#search label {
	float:left;
	display:inline;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	padding-right:6px;
}
#search .search-field {
	width:238px;
	border:1px solid #413e3e;
	background:#000;
	color:#787878;
	padding:2px 0 2px 2px;
}
#search .search-button {
	font-size:14px;
	font-weight:bold;
	border:0;
	background:none;
	color:#fff;
	cursor:pointer;
}