.box .movie {
	width: 152px;
	float: left;
	padding-right: 12px;
}

.movie-image {
	float: left;
	width: 152px;
	height: 214px;
	position: relative;
}

.movie-image img {
	width: 152px;
	height: 214px;
}

.movie-image a {
	float: left;
	display: inline;
	width: 152px;
	height: 214px;
	position: relative;
	z-index: 2;
}

.play {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 214px;
	background: url('../../assets/images/image-hover.png');
	display: block;
	z-index: 5;
	cursor: pointer;
	display: none;
}

.movie span.name {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 160px;
	display: block;
}

.box .last {
	padding: 0;
}

.rating {
	float: left;
	width: 152px;
	padding-top: 8px;
}

.rating p {
	float: left;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
}

.rating .stars {
	float: left;
	width: 60px;
	height: 11px;
	background: url('../../assets/images/stars.gif') no-repeat 0 0;
	margin-left: 2px;
}

.rating .stars-in {
	width: 48px;
	display: inline;
	background: url('../../assets/images/stars.gif') no-repeat 0 bottom;
	position: absolute;
	height: 11px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.comments {
	background: url('../../assets/images/comments.gif') no-repeat 0 center;
	padding-left: 12px;
	float: right;
}
