.my-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: aquamarine;
	color: #000;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
